[package]
name = "yubikey"
version = "0.6.0-pre" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust cross-platform host-side driver for YubiKey devices from Yubico with
support for hardware-backed public-key decryption and digital signatures using
the Personal Identity Verification (PIV) application. Supports RSA (1024/2048)
or ECC (NIST P-256/P-384) algorithms e.g, PKCS#1v1.5, ECDSA
"""
authors = ["Tony Arcieri <tony@iqlusion.io>", "Yubico AB"]
license = "BSD-2-Clause"
repository = "https://github.com/iqlusioninc/yubikey.rs"
readme = "README.md"
categories = ["api-bindings", "cryptography", "hardware-support"]
keywords = ["ecdsa", "encryption", "rsa", "piv", "signature"]
edition = "2021"
rust-version = "1.56"

[workspace]
members = [".", "cli"]

[dependencies]
chrono = "0.4"
cookie-factory = "0.3"
der-parser = "6"
des = "0.7"
elliptic-curve = "0.11"
hmac = "0.11"
log = "0.4"
nom = "7"
num-bigint-dig = { version = "0.7", features = ["rand"] }
num-traits = "0.2"
num-integer = "0.1"
pbkdf2 = { version = "0.9", default-features = false }
p256 = "0.10"
p384 = "0.9"
pcsc = "2"
rand_core = { version = "0.6", features = ["std"] }
rsa = "0.6"
secrecy = "0.8"
sha-1 = "0.9"
sha2 = "0.9"
subtle = "2"
subtle-encoding = "0.5"
uuid = { version = "0.8", features = ["v4"] }
x509 = "0.2"
x509-parser = "0.12"
zeroize = "1"

[dev-dependencies]
env_logger = "0.9"
lazy_static = "1"

[features]
untested = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
