[package]
name    = "yubikey"
version = "0.4.0-pre" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust host-side driver for the YubiKey Personal Identity Verification (PIV)
application providing general-purpose public-key signing and encryption
with hardware-backed private keys for RSA (2048/1024) and ECC (P-256/P-384)
algorithms (e.g, PKCS#1v1.5, ECDSA)
"""
authors    = ["Tony Arcieri <tony@iqlusion.io>", "Yubico AB"]
edition    = "2018"
license    = "BSD-2-Clause"
repository = "https://github.com/iqlusioninc/yubikey.rs"
readme     = "README.md"
categories = ["api-bindings", "cryptography", "hardware-support"]
keywords   = ["ecdsa", "rsa", "piv", "pcsc", "yubikey"]

[workspace]
members = [".", "cli"]

[badges]
maintenance = { status = "experimental" }

[dependencies]
chrono = "0.4"
cookie-factory = "0.3"
der-parser = "5"
des = "0.7"
elliptic-curve = "0.9"
getrandom = "0.1"
hmac = "0.11"
log = "0.4"
nom = "6"
num-bigint-dig = { version = "0.7", features = ["rand"], package = "num-bigint-dig" }
num-traits = "0.2"
num-integer = "0.1"
pbkdf2 = { version = "0.8", default-features = false }
p256 = "0.8"
p384 = "0.7"
pcsc = "2"
rsa = "0.4"
secrecy = "0.7"
sha-1 = "0.9"
sha2 = "0.9"
subtle = "2"
subtle-encoding = "0.5"
x509 = "0.2"
x509-parser = "0.9"
zeroize = "1"

[dev-dependencies]
env_logger = "0.8"
ring = "0.16.18"
lazy_static = "1"

[features]
untested = []

[package.metadata.docs.rs]
all-features = true
