[package]
name    = "yubikey-piv"
version = "0.0.3" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust host-side driver for the YubiKey Personal Identity Verification (PIV)
application providing general-purpose public-key signing and encryption
with hardware-backed private keys for RSA (2048/1024) and ECC (P-256/P-384)
algorithms (e.g, PKCS#1v1.5, ECDSA)
"""
authors    = ["Tony Arcieri <tony@iqlusion.io>", "Yubico AB"]
edition    = "2018"
license    = "BSD-2-Clause"
repository = "https://github.com/iqlusioninc/yubikey-piv.rs"
readme     = "README.md"
categories = ["api-bindings", "cryptography", "hardware-support"]
keywords   = ["ecdsa", "rsa", "piv", "pcsc", "yubikey"]

[workspace]
members = [".", "cli"]

[badges]
maintenance = { status = "experimental" }

[dependencies]
chrono = "0.4"
cookie-factory = "0.3"
der-parser = "3"
des = "0.3"
elliptic-curve = { version = "0.3", features = ["weierstrass"] }
getrandom = "0.1"
hmac = "0.7"
log = "0.4"
nom = "5"
num-bigint = { version = "0.2", features = ["rand"] }
pbkdf2 = "0.3"
p256 = "0.2"
p384 = "0.1"
pcsc = "2"
rsa = "0.2.0"
secrecy = "0.6"
sha-1 = "0.8"
sha2 = "0.8"
subtle = "2"
subtle-encoding = "0.5"
x509 = "0.1.2"
x509-parser = "0.6"
zeroize = "1"

[dev-dependencies]
env_logger = "0.7"
ring = "0.16.13"
lazy_static = "1"

[features]
untested = []

[package.metadata.docs.rs]
all-features = true
